In [1]:
import pandas as pd

## Importing data:

In [2]:
df = pd.read_csv("jobfair_train.csv")  #df is short for data frame :)

In [3]:
df

,season,club_id,league_id,dynamic_payment_segment,cohort_season,avg_age_top_11_players,avg_stars_top_11_players,avg_stars_top_14_players,avg_training_factor_top_11_players,days_active_last_28_days,...,registration_country,registration_platform_specific,league_match_won_count_last_28_days,training_count_last_28_days,global_competition_level,tokens_spent_last_28_days,tokens_stash,rests_stash,morale_boosters_stash,league_rank
0,173,6042825,2912348,2) Minnow,134,25,5.255151,4.483009,1.778801,25,...,Portugal,Flash FB Canvas,24,435,11.0,598,245,186,818,2
1,173,9620967,2912140,2) Minnow,28,23,4.962521,4.785648,-0.002687,28,...,Turkey,Android Phone,19,58,7.0,269,0,35,24,2
2,173,6045474,2912933,4) Whale,136,23,11.105782,10.511133,0.628794,28,...,Belgium,Flash FB Canvas,26,116,8.0,23180,369,444,4933,1
3,173,14187773,2910371,0) NonPayer,2,21,4.164848,4.023486,0.551904,12,...,Malaysia,Android Phone,11,22,2.0,41,43,213,126,6
4,173,13694853,2907632,0) NonPayer,5,22,3.031939,2.926029,0.690544,0,...,Italy,iOS Phone,9,0,4.0,0,16,100,147,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55309,173,14278145,2906514,0) NonPayer,2,25,4.160909,3.948086,0.503241,11,...,Switzerland,iOS Phone,13,25,NaN,42,10,25,37,1
55310,173,14309556,2906913,2) Minnow,2,21,4.244145,3.762286,0.664514,28,...,France,iOS Phone,25,167,NaN,214,158,358,256,1
55311,173,14455654,2905985,0) NonPayer,1,21,4.000158,3.753276,0.507620,6,...,France,iOS Tablet,14,17,NaN,73,11,70,57,11
55312,173,13623733,2910437,0) NonPayer,5,24,4.582158,4.461391,0.664767,28,...,Morocco,Android Phone,22,80,4.0,90,65,109,150,5
55313,173,11719971,2910381,0) NonPayer,16,23,5.176582,4.762305,0.640298,1,...,Greece,Android Phone,6,2,6.0,50,24,17,354,9

In [4]:
atributes=df.columns
atributes

Index(['season', 'club_id', 'league_id', 'dynamic_payment_segment',
       'cohort_season', 'avg_age_top_11_players', 'avg_stars_top_11_players',
       'avg_stars_top_14_players', 'avg_training_factor_top_11_players',
       'days_active_last_28_days', 'league_match_watched_count_last_28_days',
       'session_count_last_28_days', 'playtime_last_28_days',
       'registration_country', 'registration_platform_specific',
       'league_match_won_count_last_28_days', 'training_count_last_28_days',
       'global_competition_level', 'tokens_spent_last_28_days', 'tokens_stash',
       'rests_stash', 'morale_boosters_stash', 'league_rank'],
      dtype='object')

In [5]:
all_atributes=['season', 'club_id', 'league_id', 'dynamic_payment_segment',
       'cohort_season', 'avg_age_top_11_players', 'avg_stars_top_11_players',
       'avg_stars_top_14_players', 'avg_training_factor_top_11_players',
       'days_active_last_28_days', 'league_match_watched_count_last_28_days',
       'session_count_last_28_days', 'playtime_last_28_days',
       'registration_country', 'registration_platform_specific',
       'league_match_won_count_last_28_days', 'training_count_last_28_days',
       'global_competition_level', 'tokens_spent_last_28_days', 'tokens_stash',
       'rests_stash', 'morale_boosters_stash', 'league_rank']

In [21]:
duplicates = df[df.duplicated()]

# Ispisi duplikate, ako postoje
if not duplikates.empty:
    print("Duplicates:")
    print(duplicates)
else:
    print("No duplicates.")

NameError: name 'duplikates' is not defined

## Looking for missing values:

In [6]:
missing_values = df[atributes].isnull().sum()
missing_values

season                                         0
club_id                                        0
league_id                                      0
dynamic_payment_segment                        0
cohort_season                                  0
avg_age_top_11_players                         0
avg_stars_top_11_players                       0
avg_stars_top_14_players                       0
avg_training_factor_top_11_players             0
days_active_last_28_days                       0
league_match_watched_count_last_28_days        0
session_count_last_28_days                     0
playtime_last_28_days                          0
registration_country                           0
registration_platform_specific                 0
league_match_won_count_last_28_days            0
training_count_last_28_days                    0
global_competition_level                   17551
tokens_spent_last_28_days                      0
tokens_stash                                   0
rests_stash                                    0
morale_boosters_stash                          0
league_rank                                    0
dtype: int64

In [7]:
df=df.drop("global_competition_level",axis=1)

In [8]:
diff1 = df['registration_country'].nunique()
diff2 = df['registration_platform_specific'].nunique()
print(f"Number of unique values in registration_country: {diff1}\n and in registration_platform_specific: {diff2}")

Number of unique values in registration_country: 186
 and in registration_platform_specific: 11

In [9]:
df=df.drop_duplicates()

## Registration place and platform are irrelevant for our prediction:

In [10]:
df = df.drop(['registration_country', 'registration_platform_specific'], axis=1)

The reason is only logical. Platform specifics and your living country should not matter in any game you are playing,
so the same reason implies here.

## Changing 'dynamic_payment_segment' into only numerical values thorugh mapping:

In [11]:
mapping = {'0) NonPayer': 0, '1) ExPayer': 1, '2) Minnow': 2,
          '3) Dolphin':3, '4) Whale':4}

df['dynamic_payment_segment'] = df['dynamic_payment_segment'].map(mapping)

This is the only categorical column in database, so for the sake of prediction and furthure coding we are mapping string values into integer numbers, and making every instance in our data frame numerical:

In [12]:
# verification
df['dynamic_payment_segment']

0        2
1        2
2        4
3        0
4        0
        ..
55309    0
55310    2
55311    0
55312    0
55313    0
Name: dynamic_payment_segment, Length: 55314, dtype: int64

## Splitting the data into X and y, where y is the target variable:

In [13]:
X = df.drop(['league_rank'], axis=1)
y = df['league_rank']

print(X.shape,y.shape)

(55314, 19) (55314,)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,stratify=y)

## Eliminating redundant data, minimizing data modification errors, and simplifying the query process with normalization:

In [15]:
from sklearn.preprocessing import Normalizer, StandardScaler
normalizer = Normalizer()
scaler = StandardScaler()
X_train_normalized = normalizer.fit_transform(X_train)
X_test_normalized = normalizer.transform(X_test)

## Now we're implementing the model in our code:

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, KFold


model = LinearRegression()


num_folds = 5  # Možete promeniti broj preklopa prema potrebama

kf = KFold(n_splits=num_folds, shuffle=True, random_state=42)

cv_results = cross_val_score(model, X, y, cv=kf, scoring='neg_mean_squared_error')

cv_results_mse = -cv_results
print(f'Mean Squared Error for each fold: {cv_results_mse}')
print(f'Mean MSE across all folds: {cv_results_mse.mean()}')

Mean Squared Error for each fold: [10.44526421  9.62012488  9.69055088  9.62016387  9.63662424]
Mean MSE across all folds: 9.802545615789999

In [17]:
model.fit(X_train, y_train)

predictions = model.predict(X_test)

mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error on Test Set: {mse}')

Mean Squared Error on Test Set: 9.693930564404173

## Doing the same preprocessing on the test data:

In [18]:
new_data=pd.read_csv('jobfair_test.csv')
new_data=new_data.drop(['registration_country', 'registration_platform_specific','global_competition_level'],axis=1)
mapping = {'0) NonPayer': 0, '1) ExPayer': 1, '2) Minnow': 2,
          '3) Dolphin':3, '4) Whale':4}

new_data['dynamic_payment_segment'] = new_data['dynamic_payment_segment'].map(mapping)

## Prediction:

In [19]:
predicted_rank = model.predict(new_data)
print(f'Predicted League Rank for Club {11719971}: {predicted_rank[55313]}')

Predicted League Rank for Club 11719971: 28.071642652218543